/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex Mono';
  --padding: 10px;
  --text-size: 18px;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --theme-menu-button-hover-color: rgba(255, 0, 112, 0.4);
  --decoration-color: #FF0070;
  --main-title-color: #DB00FF;
  --title-color: #000028;
  --bg-color: #000028;
  --bg-image: url(/images/cover-image-dark.png);
  --gap-page: 40px;
  --gap-content: 50px;
  --gap-images: 10px;
}